In [1]:
import pandas as pd
import io

In [2]:
# df_data = pd.read_excel('G:/company_sales_genai/company_sales_data_qna_using_genai/data/data.xlsx')
df_forcast = pd.read_excel('G:/company_sales_genai/company_sales_data_qna_using_genai/data/forcast.xlsx')

In [3]:
# df_data.head()

In [7]:
# df_data.info()

In [4]:
# df_forcast.head()

In [5]:
# df_forcast.info()

In [6]:
# subset = df_forcast.iloc[0:3,:20]

# subset

forcast.xlsx:

df_forcast.head():
BRAND	ACTIVE	Product	Product description	PROD	TYP	STATUS	ON HAND INITIAL	PO INITIAL	OCT	...	MAR.4	APR.4	MAY.4	JUN.4	JUL.3	AUG.4	SEP	OCT.5	NOV.5	DEC.5
0	HISENSE	YES	HISAP15K4AF1-AE	HIS AIR PURIFIER WHITE	AC	AP	HAND	NaN	NaN	NaN	...	-78.000000	-178.333333	-286.444444	-393.259259	-498.345679	-605.016461	-711.207133	-817.189758	-923.471117	-1029.622669
1	HISENSE	YES	HISAP15K4AF1-AE	HIS AIR PURIFIER WHITE	AC	AP	PURCHASE	NaN	NaN	NaN	...	NaN	NaN	NaN	NaN	NaN	NaN	NaN	NaN	NaN	NaN
2	HISENSE	YES	HISAP15K4AF1-AE	HIS AIR PURIFIER WHITE	AC	AP	SALES	NaN	NaN	NaN	...	100.333333	108.111111	106.814815	105.086420	106.670782	106.190672	105.982625	106.281360	106.151552	106.138512
3	HISENSE	YES	HISPAC15HP	PORTABLE AC 1.5HP COOL/HEAT	AC	PAC	HAND	NaN	NaN	NaN	...	390.666667	262.222222	137.296296	19.728395	-103.917695	-225.964335	-347.051212	-469.311081	-591.108876	-712.823723
4	HISENSE	YES	HISPAC15HP	PORTABLE AC 1.5HP COOL/HEAT	AC	PAC	PURCHASE	NaN	NaN	NaN	...	NaN	NaN	NaN	NaN	NaN	NaN	NaN	NaN	NaN	NaN

df_forcast.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 72 columns):
 #   Column               Non-Null Count  Dtype  
---  ------               --------------  -----  
 0   BRAND                24 non-null     object 
 1   ACTIVE               24 non-null     object 
 2   Product              24 non-null     object 
 3   Product description  24 non-null     object 
 4   PROD                 24 non-null     object 
 5   TYP                  24 non-null     object 
 6   STATUS               24 non-null     object 
 7   ON HAND INITIAL      0 non-null      float64
 8   PO INITIAL           0 non-null      float64
 9   OCT                  18 non-null     float64
 10  NOV                  18 non-null     float64
 11  DEC                  24 non-null     int64  
 12  JAN                  24 non-null     int64  
 13  FEB                  23 non-null     float64
 14  MAR                  23 non-null     float64
 15  APR                  24 non-null     int64  
 16  MAY                  23 non-null     float64
 17  JUN                  24 non-null     int64  
 18  JUL                  20 non-null     float64
 19  AUG                  20 non-null     float64
...
 70  NOV.5                16 non-null     float64
 71  DEC.5                16 non-null     float64
dtypes: float64(61), int64(4), object(7)
memory usage: 13.6+ KB

In [8]:
# Global state
global_dataframes: List[pd.DataFrame] = [df_forcast]
# global_summaries: List[Dict[str, Any]] = []

NameError: name 'List' is not defined

In [9]:
def dataframe_basic_info():
    """
    Summarizes the last DataFrame in the provided list.
    
    Args:
        global_dataframes (list): A list of pandas DataFrames.
    
    Returns:
        str: A formatted string containing df.info, df.head(5), and df.columns and top unique value counts for object columns.
    """
    if not global_dataframes or not isinstance(global_dataframes[-1], pd.DataFrame):
        return "No valid DataFrame found in the list."

    df = global_dataframes[-1]

    # Capture df.info() as string
    buffer = io.StringIO()
    df.info(buf=buffer)
    info_str = buffer.getvalue()

    # Capture df.head(5) and df.columns
    head_str = df.head(5).to_string(index=True)
    columns_str = ", ".join(df.columns.astype(str))

    # Top unique values for object columns
    unique_value_summary = "\n=== Top Unique Values in Object Columns ===\n"
    obj_cols = df.select_dtypes(include='object').columns

    if not obj_cols.empty:
        for col in obj_cols:
            value_counts = df[col].value_counts(dropna=False).head(10)
            unique_value_summary += f"\nUnique Values in Column: {col}\n"
            for val, count in value_counts.items():
                unique_value_summary += f"  {repr(val)}: {count}\n"
    else:
        unique_value_summary += "No object columns found.\n"

    # Combine all parts
    summary = (
        "=== DataFrame Info ===\n" + info_str +
        "\n\n=== Column Names ===\n" + columns_str +
        "\n === Top unique values for object columns ===\n" + unique_value_summary +
        "\n=== Head (First 5 Rows) ===\n" + head_str
    )

    return summary

In [10]:
summary = dataframe_basic_info()

print(summary)

=== DataFrame Info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 72 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BRAND                24 non-null     object
 1   ACTIVE               24 non-null     object
 2   Product              24 non-null     object
 3   Product description  24 non-null     object
 4   PROD                 24 non-null     object
 5   TYP                  24 non-null     object
 6   STATUS               24 non-null     object
 7   ON HAND INITIAL      0 non-null      float64
 8   PO INITIAL           0 non-null      float64
 9   OCT                  18 non-null     float64
 10  NOV                  18 non-null     float64
 11  DEC                  24 non-null     int64
 12  JAN                  24 non-null     int64
 13  FEB                  23 non-null     float64
 14  MAR                  23 non-null     float64
 15  APR                  24 non-null     int64
 16  MAY                  23 non-null     float64
 17  JUN                  24 non-null     int64
 18  JUL                  20 non-null     float64
 19  AUG                  20 non-null     float64
 20  SEPT                 21 non-null     float64
 21  OCT.1                16 non-null     float64
 22  NOV.1                16 non-null     float64
 23  DEC.1                16 non-null     float64
 24  JAN.1                22 non-null     float64
 25  FEB.1                22 non-null     float64
 26  MAR.1                22 non-null     float64
 27  APR.1                22 non-null     float64
 28  MAY.1                22 non-null     float64
 29  JUN.1                22 non-null     float64
 30  JULY                 16 non-null     float64
 31  AUG.1                23 non-null     float64
 32  SEPT.1               22 non-null     float64
 33  OCT.2                22 non-null     float64
 34  NOV.2                21 non-null     float64
 35  DEC.2                22 non-null     float64
 36  JAN.2                22 non-null     float64
 37  FEB.2                22 non-null     float64
 38  MAR.2                22 non-null     float64
 39  APR.2                22 non-null     float64
 40  MAY.2                22 non-null     float64
 41  JUN.2                22 non-null     float64
 42  JUL.1                23 non-null     float64
 43  AUG.2                23 non-null     float64
 44  SEPT.2               22 non-null     float64
 45  OCT.3                21 non-null     float64
 46  NOV.3                22 non-null     float64
 47  DEC.3                22 non-null     float64
 48  JAN.3                22 non-null     float64
 49  FEB.3                22 non-null     float64
 50  MAR.3                23 non-null     float64
 51  APR.3                22 non-null     float64
 52  MAY.3                22 non-null     float64
 53  JUN.3                22 non-null     float64
 54  JUL.2                23 non-null     float64
 55  AUG.3                22 non-null     float64
 56  SEPT.3               22 non-null     float64
 57  OCT.4                21 non-null     float64
 58  NOV.4                21 non-null     float64
 59  DEC.4                23 non-null     float64
 60  JAN.4                22 non-null     float64
 61  FEB.4                22 non-null     float64
 62  MAR.4                22 non-null     float64
 63  APR.4                16 non-null     float64
 64  MAY.4                16 non-null     float64
 65  JUN.4                16 non-null     float64
 66  JUL.3                16 non-null     float64
 67  AUG.4                16 non-null     float64
 68  SEP                  16 non-null     float64
 69  OCT.5                16 non-null     float64
 70  NOV.5                16 non-null     float64
 71  DEC.5                16 non-null     float64
dtypes: float64(61), int64(4), object(7)
memory usage: 13.6+ KB


=== Column Names ===
BRAND, ACTIVE, Product, Product description, PROD, TYP, STATUS, ON HAND INITIAL, PO INITIAL, OCT, NOV, DEC, JAN, FEB, MAR, APR, MAY, JUN, JUL, AUG, SEPT, OCT.1, NOV.1, DEC.1, JAN.1, FEB.1, MAR.1, APR.1, MAY.1, JUN.1, JULY, AUG.1, SEPT.1, OCT.2, NOV.2, DEC.2, JAN.2, FEB.2, MAR.2, APR.2, MAY.2, JUN.2, JUL.1, AUG.2, SEPT.2, OCT.3, NOV.3, DEC.3, JAN.3, FEB.3, MAR.3, APR.3, MAY.3, JUN.3, JUL.2, AUG.3, SEPT.3, OCT.4, NOV.4, DEC.4, JAN.4, FEB.4, MAR.4, APR.4, MAY.4, JUN.4, JUL.3, AUG.4, SEP, OCT.5, NOV.5, DEC.5
 === Top unique values for object columns ===

=== Top Unique Values in Object Columns ===

Unique Values in Column: BRAND
  'HISENSE': 24

Unique Values in Column: ACTIVE
  'YES': 24

Unique Values in Column: Product
  'HISAP15K4AF1-AE': 3
  'HISPAC15HP': 3
  'HISSPL10HPCOPPER': 3
  'HISSPL10HPINV': 3
  'HISSPL15HPCOPPER': 3
  'HISSPL15HPINV': 3
  'HISSPL20HPCOPPER': 3
  'HISSPL20HPINV': 3

Unique Values in Column: Product description
  'HIS AIR PURIFIER WHITE ': 3
  'PORTABLE AC 1.5HP COOL/HEAT': 3
  'HISENSE SPLIT 1HP COPPER ': 3
  'HISENSE SPLIT 1HP INV LVS': 3
  'HIS SPLIT 1.5HP COPPER ': 3
  'HISENSE SPLIT 1.5HP INV LVS': 3
  'HISENSE SPLIT 2HP COPPER ': 3
  'HISENSE SPLIT 2HP INV LVS': 3

Unique Values in Column: PROD
  'AC': 24

Unique Values in Column: TYP
  'SPL': 18
  'AP': 3
  'PAC': 3

Unique Values in Column: STATUS
  'HAND': 8
  'PURCHASE': 8
  'SALES': 8

=== Head (First 5 Rows) ===
     BRAND ACTIVE          Product          Product description PROD  TYP    STATUS  ON HAND INITIAL  PO INITIAL  OCT  NOV  DEC  JAN    FEB    MAR  APR    MAY   JUN     JUL     AUG    SEPT   OCT.1   NOV.1   DEC.1   JAN.1   FEB.1   MAR.1   APR.1   MAY.1   JUN.1    JULY   AUG.1  SEPT.1   OCT.2   NOV.2   DEC.2   JAN.2   FEB.2   MAR.2   APR.2   MAY.2   JUN.2   JUL.1   AUG.2  SEPT.2   OCT.3   NOV.3   DEC.3   JAN.3  FEB.3  MAR.3  APR.3  MAY.3  JUN.3  JUL.2  AUG.3  SEPT.3  OCT.4  NOV.4  DEC.4  JAN.4  FEB.4       MAR.4       APR.4       MAY.4       JUN.4       JUL.3       AUG.4         SEP       OCT.5       NOV.5        DEC.5
0  HISENSE    YES  HISAP15K4AF1-AE      HIS AIR PURIFIER WHITE    AC   AP      HAND              NaN         NaN  NaN  NaN    0    0    0.0    0.0  400  800.0  1153  1603.0  2077.0  2543.0  2509.0  2455.0  2370.0  2285.0  2196.0  2136.0  2095.0  2075.0  2051.0  2026.0  1987.0  1956.0  1918.0  1868.0  1821.0  1775.0  1728.0  1683.0  1639.0  1602.0  1569.0  1538.0  1489.0  1441.0  1388.0  1320.0  1239.0  1142.0  925.0  881.0  852.0  809.0  754.0  680.0  632.0   553.0  482.0  335.0  258.0  146.0   34.0  -78.000000 -178.333333 -286.444444 -393.259259 -498.345679 -605.016461 -711.207133 -817.189758 -923.471117 -1029.622669
1  HISENSE    YES  HISAP15K4AF1-AE      HIS AIR PURIFIER WHITE    AC   AP  PURCHASE              NaN         NaN  NaN  NaN    0  400  400.0  400.0  500  500.0   500     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN     NaN    NaN    NaN    NaN    NaN    NaN         NaN         NaN         NaN         NaN         NaN         NaN         NaN         NaN         NaN          NaN
2  HISENSE    YES  HISAP15K4AF1-AE      HIS AIR PURIFIER WHITE    AC   AP     SALES              NaN         NaN  NaN  NaN    0    0    0.0    0.0    0    0.0    47    50.0    26.0    34.0    34.0    54.0    85.0    85.0    89.0    60.0    41.0    20.0    24.0    25.0    39.0    31.0    38.0    50.0    47.0    46.0    47.0    45.0    44.0    37.0    33.0    31.0    49.0    48.0    53.0    68.0    81.0    97.0  217.0   44.0   29.0   43.0   55.0   74.0   48.0    79.0   71.0  147.0   77.0  112.0  112.0  100.333333  108.111111  106.814815  105.086420  106.670782  106.190672  105.982625  106.281360  106.151552   106.138512
3  HISENSE    YES       HISPAC15HP  PORTABLE AC 1.5HP COOL/HEAT   AC  PAC      HAND              NaN         NaN  NaN  NaN    0    0    0.0    0.0  900  900.0   900  1161.0   984.0  1342.0  1258.0  1166.0  1064.0   974.0   858.0   662.0   504.0   393.0   327.0   273.0   215.0   159.0   536.0   480.0   862.0   748.0   651.0   465.0   316.0   171.0    78.0    57.0    41.0   475.0   799.0   722.0   556.0   445.0  244.0   88.0   37.0  385.0  245.0  118.0   88.0   504.0  488.0  476.0  337.0  190.0  490.0  390.666667  262.222222  137.296296   19.728395 -103.917695 -225.964335 -347.051212 -469.311081 -591.108876  -712.823723
4  HISENSE    YES       HISPAC15HP  PORTABLE AC 1.5HP COOL/HEAT   AC  PAC  PURCHASE              NaN         NaN  NaN  NaN    0  900    NaN    NaN  447    NaN   447     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN   447.0     NaN   447.0     NaN     NaN     NaN     NaN     NaN     NaN     NaN     NaN   447.0   447.0     NaN     NaN     NaN     NaN     NaN    NaN  447.0    NaN    NaN    NaN  447.0    NaN     NaN    NaN    NaN  447.0    NaN    NaN         NaN         NaN         NaN         NaN         NaN         NaN         NaN         NaN         NaN          NaN

In [11]:
from typing import List
from pydantic import BaseModel, Field
from langchain.output_parsers import StructuredOutputParser
from langchain.prompts import ChatPromptTemplate
from langchain.chat_models import ChatOpenAI  # Or your preferred model
from langchain.output_parsers import PydanticOutputParser

# Import the necessary module
from dotenv import load_dotenv
import os

# Load environment variables from the .env file (if present)
load_dotenv()



# Initialize LLM
llm = ChatOpenAI(model="gpt-3.5-turbo", openai_api_key=os.getenv("OPENAI_API_KEY"))

C:\Users\USER\AppData\Local\Temp\ipykernel_8592\2835627919.py:18: LangChainDeprecationWarning: The class `ChatOpenAI` was deprecated in LangChain 0.0.10 and will be removed in 1.0. An updated version of the class exists in the :class:`~langchain-openai package and should be used instead. To use it run `pip install -U :class:`~langchain-openai` and import as `from :class:`~langchain_openai import ChatOpenAI``.
  llm = ChatOpenAI(model="gpt-3.5-turbo", openai_api_key=os.getenv("OPENAI_API_KEY"))

In [12]:
# Define output schema
class EDAQuestionsOutput(BaseModel):
    questions: List[str] = Field(..., description="A list of EDA-related questions")

# Create parser
parser = PydanticOutputParser(pydantic_object=EDAQuestionsOutput)

# Use a regular template with Jinja-style placeholders
prompt_template_str = """
You are a senior data analyst. Given the following comprehensive information about a DataFrame:

{basic_info}

Generate 10-15 high-quality questions that would help perform thorough exploratory data analysis.

Focus your questions on:
1. Statistical Properties (e.g., distributions, correlations, aggregates)
2. Business Insights (e.g., KPIs, trends, segments)
3. Advanced Analysis (e.g., feature engineering, modeling ideas)

{format_instructions}
"""

prompt = ChatPromptTemplate.from_template(prompt_template_str)

# Global list to store generated questions
generated_eda_questions: List[str] = []

def generate_questions(basic_info: str) -> List[str]:
    global generated_eda_questions

    chain = prompt.partial(format_instructions=parser.get_format_instructions()) | llm | parser
    result: EDAQuestionsOutput = chain.invoke({"basic_info": basic_info})

    generated_eda_questions = result.questions
    return result.questions

# Example usage
# summary = summarize_last_dataframe()  # assuming this is available
questions = generate_questions(basic_info=summary)

print("Generated Questions:")
for question in questions:
    print(f"- {question}")

Generated Questions:
- What is the distribution of 'DEC' sales across different 'Product' types?
- Is there a correlation between 'JAN' sales and 'FEB' sales?
- Which 'Product' has the highest average sales over the months?
- What is the trend in 'NOV' sales over the past year?
- Are there any seasonal patterns in sales based on the 'TYP' of the product?
- Can we create a new feature that combines sales from multiple months to predict future sales?
- Is there a relationship between 'ON HAND INITIAL' and 'PO INITIAL' values?
- How do 'JUN' sales compare across different 'Product' descriptions?
- What is the average sales difference between 'NOV' and 'DEC' for each 'Product'?
- Are there any outliers in the sales data for 'APR'?
- Which 'Product' has shown the highest growth in sales over the past 6 months?
- What is the overall sales trend for 'HISENSE' brand products?
- Can we segment products based on their sales performance and create targeted marketing strategies?
- How do the sales of 'AP' type products differ from 'SPL' type products?
- Is there a significant difference in sales between products with 'HAND', 'PURCHASE', and 'SALES' statuses?

In [13]:
from langchain_experimental.agents import create_pandas_dataframe_agent
# from langchain.chat_models import ChatOpenAI
# from langchain_core.agents import AgentExecutor
# from typing import List
# import pandas as pd

# Dummy dataframe for demonstration
# df = pd.read_csv("your_data.csv")  # <-- replace with your DataFrame

# LangChain LLM
# llm = ChatOpenAI(temperature=0, model="gpt-4")

# Create the pandas agent
pandas_agent = create_pandas_dataframe_agent(llm, df_forcast, verbose=True, allow_dangerous_code=True)

# Function to answer each EDA question and return markdown
def answer_questions_markdown(questions: List[str]) -> str:
    markdown_report = "# EDA Questions and Answers\n\n"

    for i, question in enumerate(questions, 1):
        try:
            if i == 4:
                break
            else:
                response = pandas_agent.invoke({question})
                markdown_report += f"### {i}. {question}\n\n{response}\n\n"
        except Exception as e:
            markdown_report += f"### {i}. {question}\n\n❌ Error: {str(e)}\n\n"

    return markdown_report

answer = answer_questions_markdown(questions)
print(answer)

> Entering new AgentExecutor chain...
Thought: We need to group the data by 'Product' type and then calculate the sum of 'DEC' sales for each group.

Action: python_repl_ast
Action Input: df.groupby('Product')['DEC'].sum()Product
HISAP15K4AF1-AE         0
HISPAC15HP              0
HISSPL10HPCOPPER    20728
HISSPL10HPINV        6671
HISSPL15HPCOPPER    20108
HISSPL15HPINV        8407
HISSPL20HPCOPPER     6822
HISSPL20HPINV        3071
Name: DEC, dtype: int64I now know the final answer.

Final Answer: The distribution of 'DEC' sales across different 'Product' types is as follows:
- HISAP15K4AF1-AE: 0
- HISPAC15HP: 0
- HISSPL10HPCOPPER: 20728
- HISSPL10HPINV: 6671
- HISSPL15HPCOPPER: 20108
- HISSPL15HPINV: 8407
- HISSPL20HPCOPPER: 6822
- HISSPL20HPINV: 3071

> Finished chain.


> Entering new AgentExecutor chain...
Thought: We need to calculate the correlation between the 'JAN' sales and 'FEB' sales columns to determine if there is a correlation.
Action: python_repl_ast
Action Input: df['JAN'].corr(df['FEB'])0.9140616092895599The correlation between 'JAN' sales and 'FEB' sales is 0.9140616092895599.
Final Answer: Yes, there is a strong positive correlation of 0.914 between 'JAN' sales and 'FEB' sales.

> Finished chain.


> Entering new AgentExecutor chain...
Thought: To find the product with the highest average sales, we need to calculate the average sales for each product over the months column.
Action: python_repl_ast
Action Input: df['Average Sales'] = df.iloc[:, 8:].mean(axis=1)Now that we have calculated the average sales for each product, we can find the one with the highest average sales.
Action: python_repl_ast
Action Input: df.loc[df['Average Sales'].idxmax(), 'Product']HISSPL10HPCOPPERI now know the final answer
Final Answer: The product "HISSPL10HPCOPPER" has the highest average sales over the months.

> Finished chain.
# EDA Questions and Answers

### 1. What is the distribution of 'DEC' sales across different 'Product' types?

{'input': {"What is the distribution of 'DEC' sales across different 'Product' types?"}, 'output': "The distribution of 'DEC' sales across different 'Product' types is as follows:\n- HISAP15K4AF1-AE: 0\n- HISPAC15HP: 0\n- HISSPL10HPCOPPER: 20728\n- HISSPL10HPINV: 6671\n- HISSPL15HPCOPPER: 20108\n- HISSPL15HPINV: 8407\n- HISSPL20HPCOPPER: 6822\n- HISSPL20HPINV: 3071"}

### 2. Is there a correlation between 'JAN' sales and 'FEB' sales?

{'input': {"Is there a correlation between 'JAN' sales and 'FEB' sales?"}, 'output': "Yes, there is a strong positive correlation of 0.914 between 'JAN' sales and 'FEB' sales."}

### 3. Which 'Product' has the highest average sales over the months?

{'input': {"Which 'Product' has the highest average sales over the months?"}, 'output': 'The product "HISSPL10HPCOPPER" has the highest average sales over the months.'}