In [1]:
import pandas as pd

In [2]:
df_data = pd.read_excel('G:/company_sales_genai/company_sales_data_qna_using_genai/data/data.xlsx')
df_forcast = pd.read_excel('G:/company_sales_genai/company_sales_data_qna_using_genai/data/forcast.xlsx')

In [3]:
df_data.head()

,Site,Date,Invoice Number,Customer Code,Name,Item Code,Item Description,Quantity
0,BABU,2024-01-02 00:00:00,SINBABU00133583,ABFIR004,FIRST PLACE (GUDU),NBOMOATS16X350GPB,NUTRIBOM OATS 16X350G PB,2.0
1,BABU,2024-01-02 00:00:00,CCNBABU00005684,ABPER004,PER-VIN GLOBAL ENTERPRISES,HISTV43A4K,HIS TV 43 A4K FHD SMART,-1.0
2,BABU,2024-01-02 00:00:00,SINBABU00133583,ABFIR004,FIRST PLACE (GUDU),NBOMMULTIGR16X350GPB,NUTRIBOM MULTIGRAIN 16X350G PB,15.0
3,BABU,2024-01-02 00:00:00,SINBABU00133585,ABHME001,H-MEDIX PHARMACY LTD,LILYULTRASOFTNR10X12,ULTRA SOFT NORMAL SP 10x12,1.0
4,BABU,2024-01-02 00:00:00,SINBABU00133583,ABFIR004,FIRST PLACE (GUDU),NBOMMBANAPL16X350GPB,NUTRIBOM BANAN+APPLE16X350G PB,10.0

In [4]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 678025 entries, 0 to 678024
Data columns (total 8 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Site              678021 non-null  object
 1   Date              678019 non-null  object
 2   Invoice Number    678013 non-null  object
 3   Customer Code     678002 non-null  object
 4   Name              677996 non-null  object
 5   Item Code         677993 non-null  object
 6   Item Description  677983 non-null  object
 7   Quantity          677916 non-null  float64
dtypes: float64(1), object(7)
memory usage: 41.4+ MB

In [5]:
df_forcast.head()

,BRAND,ACTIVE,Product,Product description,PROD,TYP,STATUS,ON HAND INITIAL,PO INITIAL,OCT,...,MAR.4,APR.4,MAY.4,JUN.4,JUL.3,AUG.4,SEP,OCT.5,NOV.5,DEC.5
0,HISENSE,YES,HISAP15K4AF1-AE,HIS AIR PURIFIER WHITE,AC,AP,HAND,NaN,NaN,NaN,...,-78.000000,-178.333333,-286.444444,-393.259259,-498.345679,-605.016461,-711.207133,-817.189758,-923.471117,-1029.622669
1,HISENSE,YES,HISAP15K4AF1-AE,HIS AIR PURIFIER WHITE,AC,AP,PURCHASE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,HISENSE,YES,HISAP15K4AF1-AE,HIS AIR PURIFIER WHITE,AC,AP,SALES,NaN,NaN,NaN,...,100.333333,108.111111,106.814815,105.086420,106.670782,106.190672,105.982625,106.281360,106.151552,106.138512
3,HISENSE,YES,HISPAC15HP,PORTABLE AC 1.5HP COOL/HEAT,AC,PAC,HAND,NaN,NaN,NaN,...,390.666667,262.222222,137.296296,19.728395,-103.917695,-225.964335,-347.051212,-469.311081,-591.108876,-712.823723
4,HISENSE,YES,HISPAC15HP,PORTABLE AC 1.5HP COOL/HEAT,AC,PAC,PURCHASE,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df_forcast.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 72 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   BRAND                24 non-null     object
 1   ACTIVE               24 non-null     object
 2   Product              24 non-null     object
 3   Product description  24 non-null     object
 4   PROD                 24 non-null     object
 5   TYP                  24 non-null     object
 6   STATUS               24 non-null     object
 7   ON HAND INITIAL      0 non-null      float64
 8   PO INITIAL           0 non-null      float64
 9   OCT                  18 non-null     float64
 10  NOV                  18 non-null     float64
 11  DEC                  24 non-null     int64
 12  JAN                  24 non-null     int64
 13  FEB                  23 non-null     float64
 14  MAR                  23 non-null     float64
 15  APR                  24 non-null     int64
 16  MAY                  23 non-null     float64
 17  JUN                  24 non-null     int64
 18  JUL                  20 non-null     float64
 19  AUG                  20 non-null     float64
 20  SEPT                 21 non-null     float64
 21  OCT.1                16 non-null     float64
 22  NOV.1                16 non-null     float64
 23  DEC.1                16 non-null     float64
 24  JAN.1                22 non-null     float64
 25  FEB.1                22 non-null     float64
 26  MAR.1                22 non-null     float64
 27  APR.1                22 non-null     float64
 28  MAY.1                22 non-null     float64
 29  JUN.1                22 non-null     float64
 30  JULY                 16 non-null     float64
 31  AUG.1                23 non-null     float64
 32  SEPT.1               22 non-null     float64
 33  OCT.2                22 non-null     float64
 34  NOV.2                21 non-null     float64
 35  DEC.2                22 non-null     float64
 36  JAN.2                22 non-null     float64
 37  FEB.2                22 non-null     float64
 38  MAR.2                22 non-null     float64
 39  APR.2                22 non-null     float64
 40  MAY.2                22 non-null     float64
 41  JUN.2                22 non-null     float64
 42  JUL.1                23 non-null     float64
 43  AUG.2                23 non-null     float64
 44  SEPT.2               22 non-null     float64
 45  OCT.3                21 non-null     float64
 46  NOV.3                22 non-null     float64
 47  DEC.3                22 non-null     float64
 48  JAN.3                22 non-null     float64
 49  FEB.3                22 non-null     float64
 50  MAR.3                23 non-null     float64
 51  APR.3                22 non-null     float64
 52  MAY.3                22 non-null     float64
 53  JUN.3                22 non-null     float64
 54  JUL.2                23 non-null     float64
 55  AUG.3                22 non-null     float64
 56  SEPT.3               22 non-null     float64
 57  OCT.4                21 non-null     float64
 58  NOV.4                21 non-null     float64
 59  DEC.4                23 non-null     float64
 60  JAN.4                22 non-null     float64
 61  FEB.4                22 non-null     float64
 62  MAR.4                22 non-null     float64
 63  APR.4                16 non-null     float64
 64  MAY.4                16 non-null     float64
 65  JUN.4                16 non-null     float64
 66  JUL.3                16 non-null     float64
 67  AUG.4                16 non-null     float64
 68  SEP                  16 non-null     float64
 69  OCT.5                16 non-null     float64
 70  NOV.5                16 non-null     float64
 71  DEC.5                16 non-null     float64
dtypes: float64(61), int64(4), object(7)
memory usage: 13.6+ KB

In [17]:
subset = df_forcast.iloc[0:3,:20]

subset

,BRAND,ACTIVE,Product,Product description,PROD,TYP,STATUS,ON HAND INITIAL,PO INITIAL,OCT,NOV,DEC,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG
0,HISENSE,YES,HISAP15K4AF1-AE,HIS AIR PURIFIER WHITE,AC,AP,HAND,NaN,NaN,NaN,NaN,0,0,0.0,0.0,400,800.0,1153,1603.0,2077.0
1,HISENSE,YES,HISAP15K4AF1-AE,HIS AIR PURIFIER WHITE,AC,AP,PURCHASE,NaN,NaN,NaN,NaN,0,400,400.0,400.0,500,500.0,500,NaN,NaN
2,HISENSE,YES,HISAP15K4AF1-AE,HIS AIR PURIFIER WHITE,AC,AP,SALES,NaN,NaN,NaN,NaN,0,0,0.0,0.0,0,0.0,47,50.0,26.0

In [ ]:
forcast.xlsx:

df_forcast.head():
BRAND	ACTIVE	Product	Product description	PROD	TYP	STATUS	ON HAND INITIAL	PO INITIAL	OCT	...	MAR.4	APR.4	MAY.4	JUN.4	JUL.3	AUG.4	SEP	OCT.5	NOV.5	DEC.5
0	HISENSE	YES	HISAP15K4AF1-AE	HIS AIR PURIFIER WHITE	AC	AP	HAND	NaN	NaN	NaN	...	-78.000000	-178.333333	-286.444444	-393.259259	-498.345679	-605.016461	-711.207133	-817.189758	-923.471117	-1029.622669
1	HISENSE	YES	HISAP15K4AF1-AE	HIS AIR PURIFIER WHITE	AC	AP	PURCHASE	NaN	NaN	NaN	...	NaN	NaN	NaN	NaN	NaN	NaN	NaN	NaN	NaN	NaN
2	HISENSE	YES	HISAP15K4AF1-AE	HIS AIR PURIFIER WHITE	AC	AP	SALES	NaN	NaN	NaN	...	100.333333	108.111111	106.814815	105.086420	106.670782	106.190672	105.982625	106.281360	106.151552	106.138512
3	HISENSE	YES	HISPAC15HP	PORTABLE AC 1.5HP COOL/HEAT	AC	PAC	HAND	NaN	NaN	NaN	...	390.666667	262.222222	137.296296	19.728395	-103.917695	-225.964335	-347.051212	-469.311081	-591.108876	-712.823723
4	HISENSE	YES	HISPAC15HP	PORTABLE AC 1.5HP COOL/HEAT	AC	PAC	PURCHASE	NaN	NaN	NaN	...	NaN	NaN	NaN	NaN	NaN	NaN	NaN	NaN	NaN	NaN

df_forcast.info():
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 72 columns):
 #   Column               Non-Null Count  Dtype  
---  ------               --------------  -----  
 0   BRAND                24 non-null     object 
 1   ACTIVE               24 non-null     object 
 2   Product              24 non-null     object 
 3   Product description  24 non-null     object 
 4   PROD                 24 non-null     object 
 5   TYP                  24 non-null     object 
 6   STATUS               24 non-null     object 
 7   ON HAND INITIAL      0 non-null      float64
 8   PO INITIAL           0 non-null      float64
 9   OCT                  18 non-null     float64
 10  NOV                  18 non-null     float64
 11  DEC                  24 non-null     int64  
 12  JAN                  24 non-null     int64  
 13  FEB                  23 non-null     float64
 14  MAR                  23 non-null     float64
 15  APR                  24 non-null     int64  
 16  MAY                  23 non-null     float64
 17  JUN                  24 non-null     int64  
 18  JUL                  20 non-null     float64
 19  AUG                  20 non-null     float64
...
 70  NOV.5                16 non-null     float64
 71  DEC.5                16 non-null     float64
dtypes: float64(61), int64(4), object(7)
memory usage: 13.6+ KB